:root{
    --cor-fundo: #272b00 ;
    --cor-principal: #54582f ;
    --cor-secundaria: #86895d; 
    --cor-destaque: #f8fbca;
    --cor-texto: #f8fbca;

}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}

h1{
    color: var(--cor-destaque);
}

button {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0.3s;
}

button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}

.footer {
   font-size: 1.0rem;
   font-style: oblique;
   color: #ffff00;
   padding: 75px;

}
.footer a{
    color: rgb(247, 247, 247);
}